FORCE_SCRIPT_NAME = "{{ healthchecks_path_prefix }}{{ '' if healthchecks_path_prefix == '/' else '/' }}"

STATIC_URL = "{{ healthchecks_path_prefix }}{{ '' if healthchecks_path_prefix == '/' else '/' }}static/"
